<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aceptar</title>
    <style type="text/css">
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 4px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
      .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
        }

        .button1:hover {
        background-color: #4CAF50;
        color: white;
        }
        .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
        }

        .button2:hover {
        background-color: #008CBA;
        color: white;
        }
</style>
</head>
<body>
    <div height="100%" width="100%" >
        <div align="center" valign="top" id="bodyCell">
            <br>
            <img class="img" alt="Logo Credi-Global" src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/credi_global_logo.jpeg" style="max-width:1252px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" width="327.12" align="middle">
            <br>
            <h1> <%= @title %> </h1><br>
            <h2>Hola <%= @email_name %>, Credi Global tiene una propuesta de credito para ti: </h2>
            <br>
            <br>
			<div class="col">
			</div>
            <br>
            <div> 
            </div>
            <h2> Al aceptar se firma digitalmente el documento anexo
            </h2>
            <br>
            <br><br><br>
            <div class="row">
            <colgroup>
                 <a href="https://www.facebook.com/Factor-GFC-Global-882158781853486" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" width="24" height="24"></a> 
                 <a href="https://twitter.com/FactorGfc" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" alt="Twitter" width="24" height="24"></a>
                 <a href="https://www.linkedin.com/company/26518165/admin/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" alt="LinkedIn" width="24" height="24"></a>
            </colgroup>
            </div>
            <br><br><br><br><br><br>
            <p class="p"><i>Copyright © </i>2023 FACTOR GFC GLOBAL SA DE CV SOFOM ENR,<i> All rights reserved.</i></p>
            <img alt="" src="https://mcusercontent.com/1f44359bb26d8944d17c89841/images/c2d47621-7810-4833-abb6-84efcd197da5.png" style="max-width:2374px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" width="146.64000000000001" align="right">
        </div>
    </div>
</body>
</html>