container_commands:
  00_optimize_bundler:
    command: "bundle config --global jobs 4"

  01_set_tmp_permissions:
    command: "chmod -R go+w /var/app/staging/tmp/"

  02_set_bundle_permissions:
    command: "chmod -R go+w /var/app/staging/.bundle/"

  03_set_vendor_permissions:
    command: "chmod -R go+w /var/app/staging/vendor/"

  04_set_log_permissions:
    command: "chmod -R go+w /var/app/staging/log/"

  05_set_tmp_permissions:
    command: "chmod -R go+w /tmp"