<!DOCTYPE html>
<html>
  <head>
      <%= wicked_pdf_stylesheet_link_tag 'application' %>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
      html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:11pt; background-color:white }
      table { border-collapse:collapse; page-break-after:always }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="3" cellspacing="0" id="sheet0" class="sheet0 gridlines">
        <tbody>
          <tr class="row0">
            <td colspan="7" rowspan="6">
<div style="position: relative;"><img src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/leasing_logo.jpg" alt="logo leasing" style="width: 200px;"></div></td>
            <td colspan="5" rowspan="2"></td>
          </tr>
          <tr class="row1"> 
          </tr>
          <tr class="row2">
            <td colspan="5" align="center">CONTRATO DE PRÉSTAMO SOBRE NÓMINA</td>
          </tr>
          <tr class="row3">
            <td colspan="5"></td>
          </tr>
          <tr class="row4">
            <td align="right">Número:</td>
            <td align="center" colspan="4">0</td>
          </tr>
          <tr class="row5">
            <td colspan="5"></td>
          </tr>
          <tr class="row6">
            <td colspan="12" bgcolor="#C0C0C0"></td>
          </tr>
          <tr class="row7">
            <th colspan="12" align="center">CÁRATULA DE TÉRMINOS</th>
          </tr>
          <tr class="row8">
            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">GENERALES</font></th>
          </tr>
          <tr class="row9">
            <td colspan="3" align="center">ACREEDOR</td>
            <td colspan="9">FACTOR GFC LEASING, S.A.P.I. DE C.V.</td>
          </tr>
          <tr class="row10">
            <td colspan="3" align="center">DOMICILIO </td>
            <td colspan="9">AVENIDA LA CANTERA NÚMERO 9301 INTERIOR 201, COLONIA LAS MISIONES, C.P. 31115, DE LA CIUDAD DE CHIHUAHUA, MUNICIPIO Y ESTADO DEL MISMO NOMBRE</td>
          </tr>
          <tr class="row11">
            <td colspan="3" align="center">CORREO ELECTRÓNICO</td>
            <td colspan="9"></td>
          </tr>
          <tr class="row12">
            <td colspan="3" align="center">CUENTA DE CHEQUES DEL ACREEDOR DONDE SE EL ACREDITADO DEBE REALIZAR LOS PAGOS</td>
            <td colspan="9">Número: <span style="font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt">1057424003 </span><span style="color:#000000; font-family:'Arial'; font-size:10pt"><br />
Institución bancaria: </span><span style="font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt">Banco Mercantil del Norte, Sociedad Anónima, Institución de Banca Múltiple, Grupo Financiero Banorte</span><span style="color:#000000; font-family:'Arial'; font-size:10pt"><br />
Clave Bancaria Estandarizada (CLABE): </span><span style="font-weight:bold; color:#000000; font-family:'Arial'; font-size:10pt">072150010574240031</span><span style="color:#000000; font-family:'Arial'; font-size:10pt"> <br />
Titular: Factor GFC Leasing, S.A.P.I. de C.V.</span></td>
          </tr>
          <tr class="row13">
            <td colspan="3">&nbsp;</td>
            <td colspan="9">0</td>
          </tr>
          <tr class="row14">
            <td colspan="3" align="center">DOMICILIO</td>
            <td colspan="9">CALLE , NUMERO  COLONIA , C.P.  , </td>
          </tr>
          <tr class="row15">
            <td colspan="3" align="center">CORREO ELECTRÓNICO</td>
            <td colspan="9">0</td>
          </tr>
          <tr class="row16">
            <td colspan="3" align="center">EMPRESA EN LA QUE LABORA</td>
            <td colspan="9">0</td>
          </tr>
          <tr class="row17">
            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">PRÉSTAMO</font></th>
          </tr>
          <tr class="row18">
            <td colspan="3" align="center">IMPORTE</td>
            <td colspan="9">$0.00  (PESOS 00/100 M.N.)</td>
          </tr>
          <tr class="row19">

            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">DISPOSICIÓN</font></th>
          </tr>
          <tr class="row20">

            <td colspan="3" align="center">NÚMERO DE CUENTA DEL ACREDITADO</td>
            <td colspan="9">0</td>
          </tr>
          <tr class="row21">

            <td colspan="3" align="center">INSTITUCIÓN FINANCIERA</td>
            <td colspan="9">0</td>
          </tr>
          <tr class="row22">
            <td colspan="3" align="center">CLABE</td>
            <td colspan="9">0</td>
          </tr>
          <tr class="row23">
            <td colspan="3" align="center">CONDICIONES PRECEDENTES A LA DISPOSICIÓN</td>
            <td colspan="9">DESCUENTO DOMICILIADO A CUENTA Y VIA NOMINA </td>
          </tr>
          <tr class="row24">
            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">DESTINO</font></th>
          </tr>
          <tr class="row25">
            <td colspan="12">0</td>
          </tr>
          <tr class="row26">
            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">PLAZO DEL CONTRATO</font></th>
          </tr>
          <tr class="row27">
            <td colspan="12">Iniciará a partir del día  del mes de  del año , para concluir el dia  del mes de  del año .</td>
          </tr>
          <tr class="row28">
            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">COMISIONES</font></th>
          </tr>
          <tr class="row29">
            <td colspan="3" align="center">COMISIÓN POR APRETURA</td>
            <td colspan="9">0% ( ) del importe total del credito</td>
          </tr>
          <tr class="row30">
            <th colspan="12" bgcolor="#C0C0C0"><font color="FAFAFA">PAGO DE CAPITAL</font></th>
          </tr>
          <tr class="row31">
            <td colspan="4" align="center">NÚMERO DE PAGOS</td>
            <td colspan="8">0</td>
          </tr>
          <tr class="row32">
            <td colspan="4" align="center">CONDICIONES ESPECIALES</td>
            <td colspan="8">&nbsp;NA</td>
          </tr>
          <tr class="row33">
            <th colspan="12" bgcolor="#C0C0C0" ><font color="FAFAFA">INTERESES</font></th>
          </tr>
          <tr class="row34">
            <td colspan="5" align="center">TASA DE INTERÉS ORDINARIO FIJA</td>
            <td colspan="7">0.0% ( )</td>
          </tr>
        </tbody>
    </table>
  </body>
</html>
