<!DOCTYPE html>
<html>
  <head>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
      html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:12pt; background-color:white }
      div.comment { display:none }
      div { border-collapse:hidden; page-break-after:always border-style:hidden }
      table { border-collapse:collapse; page-break-after:always }
    </style>
  </head>

  <body>
    <div class="row">
        <div style="position: relative;">
            <img src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/banorte.png" alt="logo leasing" style="max-width: 50%;">
        </div>
    <div>
        
            <div class="row">
                <div class="column" align="center"><span style="font-family:Arial; font-size:13pt">Formato para solicitar la Domiciliación</span></div>
            </div>
            <div class="row">
                <div class="column" align="right">a <%= @dia %> de <%= @mes %> de <%= @anio %> </div>
            </div>
            <div class="row">
                <div class="column" align="right">  </div>
            </div>

            <div class="row">
                <div class="column" rowspan="2" align="center">Solicito y autorizo que con base en la información que se indica en esta comunicación</br>se realicen cargos periódicos en mi cuenta confome a lo siguiente:</div>
            </div>
            <div class="row">
                <div class="column">1.- Nombre del proveedor del bien, servicio o crédito, según corresponda, que pretende pagarse:</div>
            </div>
            <div class="row">
                <div class="column">FACTOR GF LEASING SAPI DE CV.</div>
            </div>

            <div class="row14">
                <td colspan="24" rowspan="2">2.- Bien, servicio o crédito, a pagar____________ PRESTAMO PERSONAL____________. En su caso, el número de identificación generado por el proveedor (dato no obligatorio):_______________.</td>
            </div>
            <div class="row17">
                <td colspan="24" rowspan="2">3.- Peridicidad del pago (Facturación) (Ejemplo: semanal, quincenal, mensual, bimesdival, semesdival, anual, etc.):____________________ o , en su caso, el día específico en el que se solicita realizar el pago:______NA_______.</td>
            </div>
            <div class="row20">
                <td colspan="24" rowspan="2">4.- Nombre del banco que lleva la cuenta de depósito a la vista o de ahorro en el que se realizará el cargo:<br />NA</td>
            </div>
            <div class="row23">
                <td colspan="24">5.- Cualquiera de los Datos de identificación de la cuenta, siguientes:</td>
            </div>
            <div class="row25">
                <td colspan="24" align="center">Número de tarjeta de débito (16 dígitos): ____________________________________.</td>
            </div>
            <div class="row26">
                <td colspan="24" align="center"><span style="font-family:Arial ; font-size:8pt">Bancaria Estandarizada ("CLABE") de la cuenta (18 dígitos):_______________________________.</span></td>
            </div>
            <div class="row27">
                <td colspan="24" align="center">Número del teléfono móvil asociado a la cuenta:_______________________________.</td>
            </div>
            <div class="row29">
                <td colspan="24">6.- Monto máximo fijo del cargo autorizado por periodo de facturación: $________________________________.</td>
            </div>
            <div class="row31">
                <td colspan="24" rowspan="2">En lugar del monto máximo fijo, divatándose del pago de créditos revolventes asociados a tarjetas de crédito, el  titular de la cuenta podrá optar por autorizar alguna de las opciones de cargo siguientes:</td>
            </div>
            <div class="row33">
                <%# <td colspan="5"></td> %>
                <td colspan="24" align="center"> <span style="font-family: Arial; font-size:8pt">(Marcar con una X la opción que, en su caso, corresponda)</span></td>
            </div>
            <div class="row34">
                <td colspan="24" align="center">El importe del pago mínimo del periodo:(  )                                                                                                                                 </td>
            </div>
            <div class="row35">
                <td colspan="24" align="center">El saldo total para no generar intereses en el periodo:      (   ),   ó                                                                                                      </td>
            </div>
            <div class="row36">
                <td colspan="24" align="center">Un monto fijo: (  ) (incluir monto) $______________                                                                                                                          </td>
            </div>
            <div class="row38">
                <td colspan="24">7.- Esta autorización es por el plazo indeterminado ( X ), o vence el: __________________________________.</td>
            </div>
            <div class="row40">
                <td colspan="24">Estoy enterado de que en cualquier momento podré solicitar la cancelación de la presente domiciliación sin costo a mi cargo.</td>
                <td ></td>
            </div>
            <div class="row45">
                <td colspan="24" align="center">A t e n t a m e n t e</td>
            </div>
            <div class="row50">
                <td colspan="24" align="center">__________________________________________________________________</td>
            </div>
            <div class="row51">
                <td colspan="24" align="center">(NOMBRE O RAZÓN SOCIAL DEL TITULAR DE LA CUENTA)</td>
            </div>
            <div class="row52">
                <td colspan="24"></td>
            </div>
            <div class="row53">
                <td colspan="24" align="center"><span style="font-family:Arial; font-size:6pt">Formato de acuerdo a la circular 3/2012, publicada en DOF el 2 de Marzo de 2012</span></td>
        </table>
    </div>
  </body>
</html>