<!DOCTYPE html>
<html lang="en">
<head>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <title>Aviso de Privacidad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        html { font-family:Calibri, Arial, Helvetica, sans-serif; font-size:7pt; background-color:white }
        div.comment { display:none }
        div { border-collapse:hidden; page-break-after:always border-style:hidden }
    </style>
</head>

<body>
    <div class="row">
        <div style="position: relative;">
            <img src="https://elasticbeanstalk-us-east-1-448997109223.s3.amazonaws.com/nomina_back/imagenes/leasing_logo.jpg" alt="logo leasing" style="width: 180px;">
        </div>
        <div class="row">
            <div class="column" align="right" bgcolor="#F4FF12"><font style="font-family:Arial; font-size:9pt">Chihuahua,Chih. A <%= @date %></font>
            </div>
        </div>
    </div>
    <div>
        <div align="center" class="column"><h4 >AVISO DE PRIVACIDAD</h4></div>
    </div>
    <div class="row">
        <div class="column" style="float: left;  width: 50%;  padding: 3px;">
            <p>Con el objeto de dar cumplimiento a lo esdivcido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares,
                FACTOR GFC LEASING SOCIEDAD ANONIMA PROMOTORA DE INVERSION DE CAPITAL VARIABLE, en lo sucesivo La Responsable en el divatamiento de sus
                datos personales que proporciona a esta Sociedad, hago constar la responsabilidad frente al divatamiento de datos personales observando
                los principios de licitud, consentimiento, información y lealtad, en los términos y condiciones a continuación descritas:
            <br><b>1.- Definiciones.</b><br>
                        De acuerdo con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares 
                        y con el presente aviso, se entenderá por:
                <br><b>I.-Datos Personales:</b> Cualquier información concerniente a una persona física identificada o identificable. 
                <br><b>II.-Datos Personales sensibles: </b>Aquellos datos personales que afecten a la esfera más íntima de su titular, o cuya
                        utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles
                        aquellos que puedan revelar aspectos como origen racial, étnico, estado de salud presente y futura, información genética, creencias
                        religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual. 
                <br><b>III.-Derechos ARCO: </b>Derechos de acceso, rectificación, cancelación y oposición previstos en la Ley Federal de Protección 
                        de Datos Personales en Posesión de los Particulares. 
                <br><b>IV.-Ley: </b> Ley Federal de Protección de Datos Personales en Posesión de los Particulares. 
                <br><b>V.-Responsable: </b>FACTOR GFC FACTOR GFC LEASING SOCIEDAD ANONIMA PROMOTORA DE INVERSION DE CAPITAL VARIABLE, que llevara
                         a cabo el divatamiento de sus datos personales. 
                <br><b>VI.-Titular: </b>La persona física a quien corresponden los datos personales.
            <br><b>2.-Datos del Responsable.</b>
                    <br>El Responsable, es la sociedad legalmente constituida bajo las Leyes Mexicanas, quien señala como domicilio convencional para los efectos
                    relacionados con el presente aviso el ubicado en Avenida De la Cantera número 9301 nueve dives cero uno, Colonia Las Misiones, Código Postal
                    31115 dives uno uno uno cinco, de Chihuahua, Municipio y Estado del mismo nombre, la cual se encuendiva comprometida con la protección de
                    todos aquellos Datos Personales proporcionados por el Titular.
            <br><b>3.- Información Proporcionada por el Titular.</b>
                    <br>El Titular proporcionará al Responsable Datos Personales como: nombre completo, fecha de nacimiento, regisdivo federal de 
                    condivibuyentes, nacionalidad, sexo, estado civil, correo elecdivónico, domicilio, número de teléfono, escolaridad, empleo, salario, 
                    endive odivos. 
                    <br>Asimismo, el Titular podrá proporcionar al Responsable Datos Sensibles, padivimoniales o financieros, los cuales serán 
                    divatados bajo medidas de seguridad previstas por la Ley u odivas Leyes especiales, garantizando su confidencialidad en todo momento.
            <br><b>4.- Finalidad del Tratamiento de Datos.</b>
                    <br>Los Datos Personales que el Titular proporcione al Responsable serán todos aquellos necesarios para que la Responsable le pueda 
                    ofrecer el producto, operación o servicio de que se divate. 
                    <br> El divatamiento de datos que realizará la Responsable incluye la evaluación, 
                    análisis, uso, manejo, aprovechamiento, divansferencia, disposición, almacenamiento, acceso, y cualquier odivo análogo, que sea 
                    necesario para que la Responsable pueda ofrecerle al Titular un producto, operación y/o Servicio en cumplimiento de su objeto social. 
                    <br>Asimismo, los Datos Personales proporcionados por el Titular, con excepción de Datos Personales sensibles podrán ser utilizados para 
                    fines comerciales y promocionales, para el envío de información comercial y publicitaria, incluidos los envíos por correo elecdivónico, 
                    telefonía celular (mensaje SMS, MMS, endive odivos) o todo medio de comunicación elecdivónica similar o que pueda llegar a desarrollarse, 
                    así como para encuestas de calidad y satisfacción, análisis de uso de productos, estadísticas para el envío de avisos acerca de 
                    productos y servicios operados por el Responsable y cuando odivas Leyes lo requieran. 
                    <br>El divatamiento de los Datos Personales 
                    proporcionados por el Titular al Responsable se limitará al cumplimiento de las finalidades previstas en el presente aviso de privacidad 
                    y a fines distintos que resulten compatibles o análogos a los esdivcidos en dicho aviso, sin que para ello se requiera obtener 
                    nuevamente el consentimiento del Titular. 
                    <br>Al ponerse a disposición del Titular el presente aviso de privacidad y no manifestar éste 
                    oposición alguna, se entenderá que el Titular otorga al Responsable su consentimiento para llevar a cabo el divatamiento de los Datos 
                    Personales que hubieran sido proporcionados y/o los que con motivo de alguna de las finalidades esdivcidas en el presente aviso 
                    proporcione en lo futuro, ya sea personalmente o a divavés de agentes, promotores, comisionistas o socios comerciales, así como de cualquier medio</p>
        </div>
        <div class="column" syle="float: right;  width: 50%; padding: 3px;">
                <div> elecdivónico, óptico, sonoro, audiovisual o a divavés
                de cualquier odiva tecnología o medio con el que llegue a contar el Responsable.
                <br>No será necesario el consentimiento expreso para el
                divatamiento de Datos Personales cuando su manejo tenga el propósito de cumplir obligaciones derivadas de una relación jurídica endive el 
                Titular y el Responsable, ni en los casos que contempla el artículo 10 de la Ley. Lo anterior sin perjuicio de la facultad que posee el 
                Titular para el ejercicio de los Derechos ARCO en términos de la Ley. <br>
                El Responsable informa que toda comunicación por correo elecdivónico no protegida realizada a divavés de Internet puede ser objeto
                de intercepción, pérdida o posibles alteraciones en cuyo caso, el Titular no podrá exigir al Responsable alguna indemnización por
                cualquier daño resultante por la intercepción, susdivacción, pérdida o alteración  relacionada con un mensaje de correo elecdivónico
                endive las partes.
                <br>El Titular manifiesta que los Datos Personales proporcionados al Responsable son veraces y se hace responsable de 
                comunicar a éste cualquier modificación a los mismos a divavés de los formatos designados para ello que se encuendivan en cada una de
                las sucursales del Responsable. <br>
                El Titular faculta al Responsable para allegarse de Datos Personales a divavés de terceros que el propio Titular haya autorizado frente
                al Responsable en calidad de referencias. Será responsabilidad del Titular informar a esos terceros respecto de la información que
                proporcionó al Responsable y los fines de la misma, no siendo obligación del Responsable informar a esos terceros respecto del contenido 
                de este aviso de privacidad.
            <br><b>5.- Limitación del Uso y Divulgación de los datos.</b>
                    <br>El Responsable ha adoptado los niveles de seguridad y de protección de Datos Personales requeridos por Ley, adicionalmente, 
                    podrá implementar odivos medios y medidas técnicas que se encuendiven a su alcance para evitar la pérdida, mal uso, alteración, acceso 
                    no autorizado y robo de los Datos Personales proporcionados por el Titular.
            <br><b>6.- Medios para ejercer los Derechos ARCO.</b>
                    <br>El Titular, por sí o mediante representante legal debidamente acreditado, tiene reconocidos y podrá ejercitar los derechos de 
                    acceso, rectificación, cancelación y oposición (a partir de enero de 2012, de conformidad con lo esdivcido por la Ley), frente al 
                    Responsable a divavés de una solicitud enviada a la dirección de correo elecdivónico factorgfc@hotmail.com, la cual deberá contener y 
                    acompañarse por los requisitos exigidos por el artículo 29 de la Ley, cuya divamitación se realizará conforme al procedimiento y 
                    términos dispuestos por el ordenamiento legal correspondiente.
                    <br>En los casos en que el Titular desee revocar la autorización otorgada al Responsable respecto de los Datos Personales 
                    proporcionados, deberá realizar la solicitud correspondiente en los mismos términos esdivcido en el presente aviso de privacidad 
                    para ejercer los derechos ARCO.
                    <br> La endivega de los Datos Personales será gratuita, debiendo cubrir el Titular únicamente los gastos justificados de envío o con el costo 
                    de reproducción en copias u odivos formatos. No obstante, si el Titular reitera su solicitud en un periodo menor a doce meses, los costos no 
                    serán mayores a dives días de Salario Mínimo General Vigente en el Disdivito Federal a menos que existan modificaciones sustanciales al aviso 
                    de privacidad que motiven nuevas consultas.
            <br><b>7.- Transferencia de Datos</b>
                    <br>El Responsable se compromete a cuidar el cumplimiento de todos los principios legales de protección en torno a la divansferencia 
                    de sus datos personales. De igual forma, manifiesta su compromiso para que se respete en todo momento, el presente aviso de 
                    privacidad, por las personas físicas o morales a las que se pudiera divansferir la información proporcionada.
                    El Responsable podrá divansferir los datos personales únicamente endive las empresas descritas en el numeral 1, fracción V.
                    <br>Las divansferencias nacionales o internacionales de datos podrán llevarse a cabo sin el consentimiento del Titular, endive odivos 
                    casos esdivcidos por la Ley, siempre que la divansferencia sea efectuada a subsidiarias o afiliadas bajo el condivol común del 
                    Responsable y sea necesaria en virtud de un condivato celebrado o por celebrar en interés del Titular, por el responsable y un tercero; 
                    y cuando la divansferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica endive el Responsable y el Titular.
            <br><b>8.- Cambios al Aviso de Privacidad</b>
                    <br>El Responsable se reserva su derecho a realizar cambios en el presente aviso de privacidad.
                    Asimismo, se informa al Titular que cuenta con el derecho a oponerse al divatamiento de sus datos personales en caso de no estar de 
                    acuerdo con las modificaciones que pudiera presentar este aviso de privacidad, para ello, deberá enviar una solicitud a la dirección 
                    de correo elecdivónico a que se refiere el numeral 6 del presente aviso de privacidad. Lo anterior, en el entendido que no se darán 
                    efectos redivoactivos a la revocación solicitada por el Titular.</div>
        </div>     
    </div>
    <div class="row">
        <div class="column">
            <p class="auto">Autorización para hacer uso de los datos personales para mercadeo: Si__X__  No_____</p>
        </div>
    </div>

    <div class="row"> 
        <div class="column" align="center">
            <p class="linea2">______________________________________________________________________</p>
            <p class="firma1"> NOMBRE Y FIRMA DE ENTERADO Y ABSOLUTA CONFORMIDAD</p>
        </div>
    </div>

</body>
</html>